body {
  background: black;
}

.navbar {
  z-index: 100;
  left: 0;
  right: 0;
  pointer-events: none;
}

.navbar a,
i {
  pointer-events: auto;
}

video {
  display: block;
  width: 100%;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bi-music-note-list {
  margin-right: 1em;
  animation-play-state: paused;
}

.bi-music-note-list:hover {
  cursor: pointer;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.card {
  background: #f8f9fa;
}

.card img {
  width: 300%;
}

.card .card-text {
  white-space: nowrap;
  overflow: hidden;
}


.image-parent {
  max-height: 20%;
}

.list-group-item {
  background-size: cover;
}

.list-group-item .list-text {
  top: -1.5em;
  left: -0.2em;
  color: white;
}

.mode-icon i {
  cursor: pointer;
}

.card:nth-child(2) {
  top: 10px;
}

.card:nth-child(3) {
  top: 60px;
}

.card:nth-child(4) {
  top: 10px;
}

.card:nth-child(5) {
  top: 40px;
}

.card:nth-child(6) {
  top: 5px;
}

.card:nth-child(7) {
  top: 60px;
}

.card:nth-child(8) {
  top: 20px;
}

.card:nth-child(9) {
  top: 80px;
}

.card:nth-child(10) {
  top: 10px;
}

.paginator {
  margin-top: 6em;
}

.page-item a {
  border: none;
  color: black;
}

.page-item.active a {
  box-shadow: none;
}